@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import '../styles.scss';

.input-token-wrapper {
  color: #fff;
  position: relative;
  .token-icon {
    width: 22px;
    height: 22px;
  }

  .input-default {
    padding: 13px 16px;
  }

  .ant-input-prefix {
    margin-inline-end: 0 !important;
    .token-icon {
      margin-right: 8px;
    }
  }

  .ant-btn {
    position: absolute;
    padding: 5px 12px;
    height: 31px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    span {
      display: block;
      line-height: normal;
    }
  }
}
