@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.change-password {
  .single-line {
    align-items: start;

    & > div:nth-child(1) {
      flex: 1;
    }
    & > div:nth-child(2) > button {
      margin-top: 26px;
      width: 115px;
    }

    @include maxWidth($mobile-width) {
      flex-direction: column;
      align-items: end;
      & > div {
        width: 100%;
      }
      & > div:nth-child(2) {
        display: block;
        button {
          margin-top: 0;
        }
      }
    }
  }
}
