@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.add-balance-wrapper {
  &__available-balance {
    font-size: $font-size-3;
    margin-top: 12px;

    &-label {
      color: $color-neutral-5;
    }

    &-value {
      color: $color-neutral-white;
    }
  }
}
