@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/_themes.scss';
@import 'src/assets/scss/responsive.scss';

header {
  background-color: $color-neutral-2;
  border-bottom: 1px solid #2b3048;
  color: $color-neutral-white;
  padding: 10px 16px;

  .ant-input {
    margin-right: 8px;
    width: 300px;
    color: var(--neutral-neutral-8, #eff0f7);
    background: var(--neutral-neutral-1, #15192f);
    border-color: var(--neutral-neutral-1, #15192f);
    border-radius: 8px;
    border: 1px solid var(--Strock-White, rgba(255, 255, 255, 0.12));
  }

  .header--search {
    display: block;

    @include mobile {
      display: none;
    }
  }

  .style-text {
    color: var(--neutral-neutral-8, #eff0f7);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }

  .styleLogo {
    color: var(--neutral-white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }

  .balance {
    padding: 3.5px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Strock-White, rgba(255, 255, 255, 0.12));
    background: var(--neutral-neutral-4, #414459);
    box-shadow: 6px 6px 10px 0px rgba(31, 38, 74, 0.39) inset, -6px -6px 4px 0px rgba(230, 230, 238, 0.04) inset;

    .number-balance {
      color: var(--neutral-neutral-8, #eff0f7);
      font-size: 14px;

      @include minWidth($desktop-width) {
        font-size: 16px;
      }

      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }

  .balance-with-type {
    border-radius: 8px;
    border: 1px solid var(--Strock-White, rgba(255, 255, 255, 0.12));
    background: $color-neutral-4;
    padding: 7.5px 8px 7.5px 20px;
    box-shadow: 6px 6px 10px 0px rgba(31, 38, 74, 0.39) inset, -6px -6px 4px 0px rgba(230, 230, 238, 0.04) inset;
    font-family: SG-700;
    font-size: 16px;
    line-height: 24px;
    /* 150% */

    &__label {
      font-size: 16px;
      font-weight: 700;
    }

    &__amount {
      border-radius: 4px;
      background: $color-neutral-3;
      padding: 4px 12px 4px 5px;
      line-height: 150%;
      /* 21px */
    }

    @include mobile {
      height: 28px;
      box-sizing: border-box;
      padding: 3px 3px 3px 8px;
      box-shadow: 6px 6px 10px 0px rgba(31, 38, 74, 0.39) inset, -6px -6px 4px 0px rgba(230, 230, 238, 0.04) inset;
      &__label {
        font-size: 14px;
      }

      &__amount {
        font-size: 12px;
        height: 22px;
      }
      .balance-dropdown {
        & > .ant-space-item {
          display: flex;
          align-items: center;
        }
      }
      .show-arrow {
        display: none;
      }
      .tooltip-wrapper {
        span {
          font-size: 12px;
        }
      }
    }
  }

  .connect-wallet {
    display: none !important;
    // margin-right: 8px;

    // @include minWidth($desktop-width) {
    //   display: none!important;
    //   margin-right: 8px;
    // }
    width: 34px;
    height: 28px;
    align-items: center;

    border-radius: 8px;
    border: 0.5px solid var(--Stroke-blue, #0085ff);
    background: var(--primary-main, #0075ff);
    padding: 5px 8px;
    box-shadow: 0px 0px 10px 0px rgba(40, 105, 246, 0.7), 5px 5px 10px 0px #abcdff inset,
      4px -5px 10px 0px rgba(12, 59, 223, 0.7) inset;
    @include mobile {
      display: flex!important;
    }
  }

  .Cashier {
    @include maxWidth($mobile-width) {
      display: none;
      margin-right: 8px;
    }

    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid va(--Stroke-blue, #0085ff);
    background: var(--primary-main, #0075ff);
    box-shadow: 0px 0px 10px 0px rgba(40, 105, 246, 0.7), 5px 5px 10px 0px #abcdff inset,
      4px -5px 10px 0px rgba(12, 59, 223, 0.7) inset;
    color: var(--text-white, #fff);
    height: 44px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .search {
    margin-right: 8px;
    border: 1px solid var(--Strock-White, rgba(255, 255, 255, 0.12));
    display: flex;
    height: 44px;
    padding: 10px 16px;
    align-items: center;
    border-radius: 12px;
    background: var(--neutral-neutral-3, #22263b);
  }

  .avatar-wrapper {
    cursor: pointer;
  }

  .avatar-image {
    height: 40px !important;

    @include mobile {
      width: 28px !important;
      height: 28px !important;
      margin-left: 7px;
      // padding: 0px 0px 0px 7px !important;
    }
  }

  .reward-menu-header {
    @include mobile {
      display: none;
    }
  }
}
