@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.superbit-tooltip {
  .ant-tooltip-arrow {
    &::before {
      background: $color-neutral-3;
    }
  }

  .ant-tooltip-content {
    .ant-tooltip-inner {
      padding: 6px 8px;
      border-radius: 2px;
      background: $color-neutral-3;
      color: $color-neutral-white;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

.tooltip-wrapper {
  line-height: 12px;
}
