@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/_themes.scss';
@import 'src/assets/scss/responsive.scss';
@import 'src/assets/scss-common/TableTabs.scss';

.multiplier__profit--up {
  color: #6be038;
}
.record-game {
  cursor: pointer;
}
.record-clant-play,
.record-game {
  display: inline-block;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: SG-400;
  font-size: 0.875rem;
  cursor: pointer;
}
.payout__currency--up {
  color: #6be038;
}

.bet-history-table-mobile {
  width: 100%;
  table-layout: fixed;
  table {
    width: 100% !important;
  }
}
