@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';
.superbit-select-wrapper {
  border-radius: 12px;
  font-size: 1rem;
  font-family: SG-400;
  min-width: 185px;
  @include mobile {
    min-width: 164px !important;
  }
  @include minWidth($mobile-width) {
    border: 1px solid $color-neutral-stroke !important;
    background: $color-neutral-3 !important;
  }
  
  position: relative;
  & > div:first-child{
    min-width: 72px;
  }

  .ant-select-focused.ant-select .ant-select-selector {
    box-shadow: none !important;
  }

  .superbit-select-label {
    color: var(--neutral-neutral-5, #6c708a);
    font-size: 16px;
    line-height: 24px;
  }

  &:focus {
    border: 1px solid $color-main-primary !important;
    box-shadow: 0px 0px 10px 0px rgba(40, 105, 246, 0.5);
    // .ant-select-selector {
    //   border-top: 1px solid $color-main-primary !important;
    //   border-bottom: 1px solid $color-main-primary !important;
    // }
  }
}

.superbit-select {
  height: 44px;
  min-width: 185px;
  width: 100%;


  &.ant-select-status-error, &.ant-select-status-error.ant-select-focused {
    border: 1px solid $color-state-error;
    border-radius: 12px;
    box-shadow: none;
    
    .ant-select-selector, .ant-select-selector-open {
      background: rgba(222, 48, 48, 0.15) !important;
    }
  }

  .ant-select-selector,
  .ant-select-open {
    border-radius: 12px;
    border: 1px solid $color-neutral-stroke !important;
    background: $color-neutral-3 !important;
    font-size: 1rem;
    font-family: SG-400;

    .ant-select-selection-item {
      color: $color-neutral-white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &.with-label {
    min-width: unset;
    .ant-select-selector, .ant-select-open{
      border: none !important;
    }

    .ant-select-selection-item {
      color: $color-main-primary !important;
      visibility: visible !important;
    }
  }
  &.ant-select-focused {
    border-radius: 12px;
    border: 1px solid $color-main-primary;
    box-shadow: 0px 0px 4px 0px #2869f6;
  }
  &.ant-select-focused.with-label {
    border: none;
    box-shadow: none;
  }
}

.superbit-select-popup {
  margin-top: 4px;
  padding: 8px 0 6px 0;
  border-radius: 8px;
  background: $color-neutral-3;
  height: fit-content;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  top: 100% !important;

  .ant-select-item.ant-select-item-option {
    padding: 10px 16px;
    font-size: 1rem;
    font-family: SG-400;
    line-height: 24px;
    color: $color-neutral-white;
  }

  .ant-select-item-option-active,
  .ant-select-item-option-active.ant-select-item-option-selected {
    background: $color-neutral-stroke !important;
  }

  .ant-select-item-option-selected {
    background: $color-neutral-3 !important;
    .ant-select-item-option-content {
      color: $color-main-primary;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: 500;
    }
  }

  &__search {
    margin: 0 8px;
    .input-default {
      height: 40px !important;
      border-radius: 8px;
      padding: 9.5px 16px;
    }

    .ant-input.input-default::placeholder {
      color: $color-neutral-5;
      font-family: SG-400;
      font-size: 14px;
    }
  }

  .ant-select-item-empty {
    display: flex;
    justify-content: center;
    .item-not-found {
      color: var(--neutral-neutral-5, #6c708a);
      font-size: 12px;
      height: 156px;
      padding-top: 40px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.pl-12 {
  padding-left: 12px;
}
