@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.clans-page {
  padding: 40px 24px;

  @include mobile {
    padding: 0px;
    &__create-btn {
      button {
        padding: 5px 12px;
        height: 31px;
        .ant-btn-icon {
          img {
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }
  &__title {
    font-size: $font-size-7;
    color: $color-white-0;
    margin-bottom: 16px;
    font-family: SG-700;
  }
  &__tabs {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }

  &__filter {
    margin-top: 26px;

    .input-search-wrapper {
      flex: 1;
      .input-default {
        height: 44px;
        @include mobile {
          height: 40px;
          margin-right: 0px;
        }
      }
    }

    .sort-select-wrapper {
      @include mobile {
        flex: unset;
        width: 100%;
      }
    }

    @include mobile {
      flex-direction: column;
      margin-top: 16px;
      & > div:first-child {
        width: 100%;
      }
    }
  }

  &__list {
    margin-top: 30px;
    // display: grid;
    // margin-top: 30px;
    // grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
    // gap: 16px;

    @include mobile {
      // grid-template-columns: 1fr;

      .clan-card__name {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .rank-icon {
        min-width: 18px;
        height: 18px;
      }
      .owner-container {
        .ant-flex {
          max-width: 60%;
          justify-content: flex-end;
          .tooltip-wrapper {
            max-width: calc(100% - 20px);
          }
        }
      }
      button {
        padding: 5px 12px !important;
        height: 31px !important;
      }
    }

    // @media (max-width: 599px) {
    //   grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
    //   gap: 12px 6px;
    // }
  }

  &__empty-list {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 123px;
    @include mobile {
      margin-top: 20px;
    }
  }

  &__load-more {
    margin-top: 42px;
  }
}
