@import "src/assets/scss/_colors.scss";
// font-size
$font-size-1: 0.75rem; //12px
$font-size-2: 0.875rem; //14px
$font-size-3: 1rem; //16px
$font-size-4: 1.125rem; //18px
$font-size-5: 1.25rem; //20px
$font-size-6: 1.375rem; //22px
$font-size-7: 1.5rem; //24px
$font-size-7_5: 1.75rem; //28px
$font-size-8: 2rem; //32px
$font-size-8_5: 2.25rem; //36px
$font-size-9: 2.5rem; //40px
$font-size-9_9: 3rem; //48px
$font-size-10: 3.125rem; //50px
$font-size-11: 4rem; //64px

// font-weight
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-6: 600;
$font-weight-7: 700;

// Grid system
$grid-columns: 24;

// z-index list, order by `z-index`
$zindex-badge: auto;
$zindex-table-fixed: 2;
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-picker-panel: 10;
$zindex-popup-close: 10;
$zindex-modal: 1000;
$zindex-modal-mask: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-popover: 1030;
$zindex-dropdown: 1050;
$zindex-picker: 1050;
$zindex-popoconfirm: 1060;
$zindex-tooltip: 1070;
$zindex-image: 1080;

// arrow border
$arrow-border-radius: 2px;
$circle-border-radius: 50%;

// border radius
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-40: 40px;

// vertical paddings
$padding-xxxxl: 40px;
$padding-xxxl: 32px;
$padding-xxl: 24px;
$padding-xl: 20px; // containers
$padding-lg: 18px;
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

// vertical margins
$margin-xxxl: 32px;
$margin-xxl: 24px;
$margin-xl: 20px;
$margin-lg: 18px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

// height rules
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;
$height-header-xl: 65px;
$height-header-sm: 55px;
$height-footer-mobile: 73px;
$height-navbar-xl: 48px;

// Disabled states
$disabled-color: fade(#000, 25%);
$disabled-bg: $color-neutral-neutral-1;
$disabled-active-bg: tint($color-neutral-neutral-1, 90%);
$disabled-color-dark: fade(#fff, 35%);

//box-shadow
$box-shadow-1: 0px 3px 20px 0px rgba(47, 83, 109, 0.13);

$shadow-3: 0px 3px 20px 0px rgba(47, 83, 109, 0.13);
$shadow-1: 0px 1px 10px -2px rgba(47, 83, 109, 0.12);
$shadow-blue: 0px 5px 15px 0px rgba(30, 111, 217, 0.4);

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
$screen-xs: 375px;
$screen-xs-min: $screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1440px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1600px;

$xxs: 376px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$text-color-white: #fff;
$color-pure-black: #000000;
$dark-mode-grey-5: #83878c;
$orange: #f6851b;
$dark-blue: #0075ff;

//layout
$app-width-sidebar: 224px;
$app-width-chat: 270px;
$app-height-header: 112px;
