@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.rank-info {
    color: $color-neutral-6;
    font-size: 14px;
    font-family: SG-400;
    @include mobile {
        font-size: 12px;
    }

    &__avatar {
        width: 67px;
        @include mobile{
            width: 60px;
        }
    }

    &__content {
        flex: 1;

    }
    &__username {
        color: $text-color-white;
        font-family: SG-700;
        font-weight: 700;
        font-size: 24px;
        @include mobile{
            font-size: 20px;
        }
        line-height: 150%;
        @include mobile {
            font-size: 20px;
            overflow: hidden;
        }
    }

    &__information {
        justify-content: space-between;
        @include maxWidth($mobile-width) {
            
            flex-direction: column;
            gap: 8px
        }
    }

    &__current-rank {
        
    }

    &__next-rank {
        font-weight: 700;
        
    }
}

.rank-info-tooltip {
    &__text {
        color: $color-neutral-6;
    }
    &__amount {
        color: $color-neutral-white;
        font-weight: 700;
    }
    &__overlay {
        .ant-tooltip-content {
            .ant-tooltip-inner {
              text-wrap: nowrap;
              width: fit-content;
            }
          }
    }
}
.rank-info__username{
    @include mobile{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.rank-info__content{
    @include mobile{
        width: 100%;
        overflow: hidden;
    }
}
