@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.clan-card {
  padding: 8px 16px 16px 16px;
  cursor: pointer;
  border-radius: 12px;
  background: $color-neutral-2;

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  &__name {
    color: $color-white-0;
    font-size: $font-size-2;
    font-weight: $font-weight-7;
    line-height: 150%;
  }

  &__banner {
    &__game {
      color: $color-neutral-5;
      font-size: $font-size-1;
      font-weight: $font-weight-4;
      line-height: 150%;
    }

    .dot {
      border-radius: 50%;
      background-color: $color-state-error;
      width: 4px;
      height: 4px;
    }

    &__status {
      color: $color-state-error;
      font-size: $font-size-1;
      font-weight: $font-weight-5;
      line-height: 150%;
    }

    &__image {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 8px;
      margin-top: 8px;
    }
  }

  &__info {
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    &__item {
      label {
        color: $color-neutral-5;
        font-size: $font-size-1;
        font-weight: $font-weight-4;
        line-height: 150%;
      }

      .value {
        color: $color-white-0;
        font-size: $font-size-1;
        font-weight: $font-weight-4;
        line-height: 150%;
      }

      .pnl-value {
        color: $color-neutral-white;

        &--red {
          color: $color-state-error;
        }

        &--green {
          color: $color-state-success;
        }
      }
    }
  }
}
