@import 'src/assets/scss/_themes.scss';

.text-switch {
  background-color: var(--switch-button-background, $color-neutral-neutral-6);
  display: flex;
  width: 100%;
  height: 52px;
  border-radius: 14px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--landing-four-text-color, $color-neutral-neutral-4);

    &.active {
      color: var(--landing-primary-text-color, $color-neutral-neutral-1);
    }
  }
  &__overlay {
    position: absolute;
    height: calc(100% - 6px);
    background: var(--switch-button-toggle-box, $color-neutral-white);
    border-radius: 12px;
    z-index: 1;
    transition: all 0.3s;
  }
}
