@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.all-rewards-modal-wrapper {
  &__content {
    margin-top: 16px;

    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: $color-neutral-4;
    }
  }

  .reward-info-item {
    padding: 8px 12px;
    background: $color-neutral-3;
    border-radius: 8px;

    &__title {
      font-size: $font-size-3;
      color: $color-neutral-6;
      font-family: SG-400;
      .ant-typography {
        @extend .reward-info-item__title;
        margin-left: 2.5px;
      }
      display: flex;
      align-items: center;
    }

    &__type {
      font-size: $font-size-3;
      font-family: SG-700;

      &--claimed {
        color: $color-state-success;
      }

      &--missed {
        color: $color-state-error;
      }

      &--claimable {
        color: $color-state-warning;
      }

      &--waiting {
        color: $color-neutral-5;
      }
    }
  }
}
