@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.balance-section-header {
    border-radius: 8px;
    background: $color-neutral-1;
    width: 282px;
    padding: 10px 12px;
    color: $color-neutral-white;

    & > div:nth-child(2) {
        flex: 1;
    }

    &__name {
        line-height: 150%; /* 21px */
    }

    .label-text {
        color: $color-neutral-5;
        font-weight: 500;
    }
    
    .white-text {
        color: $color-neutral-white;
        font-weight: 500;
        line-height: 22px;
    }

    .hoverable:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .ant-radio-wrapper {
        margin: 0;
        width: 18px;
    }
}
